@model IEnumerable<Mysql_Asp.Models.tbl_calificacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_alumnos.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_asignacion.siglema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_subunidad.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_alumnos.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_asignacion.siglema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_subunidad.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_calificacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_calificacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_calificacion })
        </td>
    </tr>
}

</table>
