@model IEnumerable<Mysql_Asp.Models.tbl_alumnos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_grupos.grupos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_status.estatus)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ape_pat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ape_mat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_grupos.grupos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_status.estatus)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ape_pat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ape_mat)
        </td>
        <td>
@if (!string.IsNullOrEmpty(item.image))
{
    <img src="@Url.Content(item.image)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
}        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matricula }) |
            @Html.ActionLink("Details", "Details", new { id=item.matricula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.matricula })
        </td>
    </tr>
}

</table>
