@model IEnumerable<Mysql_Asp.Models.tbl_grupos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_status.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_status.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_grupos }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_grupos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_grupos })
        </td>
    </tr>
}

</table>
